.anuncios {
  grid-area: anuncios;
  background: #FAFBFC;
  display: grid;
  align-content: start;
  padding: 2rem;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

}

.anuncio-item img {
  border-radius: 5px;
}