.header {
  grid-area: header;
  background: linear-gradient(135deg, #8844ee, #B07dfd);
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.logo {
  max-width: 200px;
}

.header nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.header nav a {
  display: block;
  padding: 0.625rem;
  color: #FFFFFF;
  font-size: 1.125rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: 0.2s;
}

.header nav a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 760px) {
  .header {
    grid-template-columns: auto;
    gap: 1.25rem;
  }

  .header nav ul {
    gap: 0.5rem;
  }

  .header nav a {
    font-size: 1rem;
  }
}